<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;

        }

        .warning {
            font-size: medium;
        }

        /* ul {
            display: flex;
            justify-content: space-evenly;
        } */

        li {
            list-style-type: none;
        }
    </style>
</head>

<body>
    <!-- <h1>Hi....Ada Apa??</h1>
    <p class="warning">Disini adalah halaman web server node js(index.html)</p>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
    </ul> -->


    <h2>Hallo nama saya <%= nama %>, saya sedang belajar express engine</h2>

    <h2>Daftar Products</h2>
    <% products.forEach(prd => { %>
    <ul>
        <li>Tipe Product: <%= prd.tipeProduct %> </li>
        <li>Nama Product: <%= prd.namaProduct %> </li>
    </ul>
    <% }) %>

    <h2>Daftar mahasiswa</h2>
    <% if (mahasiswa.length < 1 ) { %>
    <p>Data tidak ada</p>
    <% } else{%>
    <% mahasiswa.forEach(mhs => { %>
    <ul>
        <li>Nim : <%= mhs.nim %></li>
        <li>Nama : <%= mhs.nama %></li>
    </ul>
    <% }) %>
    <% } %>

</body>

</html>